<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Matt Dobie | Header Parser Microservice</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i">
  <link rel="stylesheet" href="/style.min.css">
</head>
<body>
  <div class="container">
    <h1 class="header top-margin">Request Header Parser Microservice</h1>
    <h2>A freeCodeCamp API project</h2>
    <blockquote class="blockquote top-margin">
      User story:
      <ul><li>I can get the IP address, language and operating system for my browser.</li></ul>
    </blockquote>
    <h3 class="top-margin">Example usage:</h3>
    <code>
      <a href="/whoami" target="_blank">https://fcc-header-parser-md.glitch.me/whoami<br></a>
    </code>
    <h3 class="top-margin">Example output:</h3>
    <code>
      {
        "ip_address": "192.168.1.1",
        "language": "en-US",
        "software": "Macintosh; Intel Mac OS X 10_11_6"
      }
    </code>
  </div>
  <footer class="text-center">
    <p>Written and coded by <a href="http://mattdobie.com" target="_blank">Matt Dobie</a></p>
  </footer>
</body>
</html>